
.case1 {
    color: #ae87bc;
    font-family: "khfont";
    font-size: 4vw;
    position: absolute;
}
.case2 {
    color: #418fff;
    font-size: 2vw;
    position: absolute;
}


h2{font-family: "khifont"}
h3,p{font-family: "khfont"}
.num{font-family: "cfont"}
.left{width: 100%;max-height: 540px;position: absolute;overflow: hidden;}
.right{width: 100%;max-height: 540px;position: static;right: 0;overflow: hidden;}
.middle{position: relative;z-index: 999; width: 100%; height: 100%;overflow: hidden;}

.section{overflow: hidden;}
.big {
    left: 15%;
    position: absolute;
    top: 18%;
    width: 56%;
}

.s2{width: 23.6%;top:67.78%;left: 40%;position: absolute;}
.s3{width: 15%;top:82%;left:  55%;position: absolute;}
.s4{width: 22.2%;top:  77.05%;right: 22.2%;position: absolute;}
.e1{left: 49.4%;
    position: absolute;
    top: 1%;
    width: 9.5%;
    z-index: 1000;
    animation:myfirst 3s ;
    -moz-animation:myfirst 3s ;
    -webkit-animation:myfirst 3s ;
    -o-animation:myfirst 3s ;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);
    -moz-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1); /* Firefox */
    -webkit-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1); /* Safari and Chrome */
    -o-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1); /* Opera */}
@keyframes myfirst{from{  top:-62%;}to{  top: 2%;}}

@-moz-keyframes myfirst{from{top:-62%;}to{top: 2%;}}

@-webkit-keyframes myfirst{from{top:-62%;}to{top: 2%;}}

@-o-keyframes myfirst{from {top:-62%;}to{top: 2%;}}
/*.section1 h1{font-size: 1360%;color: #fff;
    top: 41.34%;left: 31.34%}*/
.section1 h1 span{color: #689ad2}
.middletxt{display: inline-block;width: 100%;height: 100%}
.midt1{font-family: "khfont";font-size: 9vw;color: #fff;display: inline-block;margin: auto; left: 0px; right: 0px; top: 30%; bottom: 0px; position: absolute; width: 50%; height: 50%; text-align: center;}
.midt2{font-family: "khfont";font-size: 9vw;color: #418fff;display: inline-block;margin: auto; left: 1%; right: 0px; top: 32%; bottom: 0px; position: absolute; width: 50%; height: 50%; text-align: center;}
.ui{font-size: 4.8vw;color: #fff;top: 70%;left: 57.4%;font-family: "khifont";position: absolute;}
.design{font-size: 4.8vw;color: #fff;top:78%;left: 57.4%;position: absolute;}


/*P2*/
.se1 {
    bottom: 0;
    max-height: 86%;
    position: absolute;
    right: 0;
    width: 100%;
}
.se2 {
    position: absolute;
    right: -3%;
    top: 60%;
    width: 70%;
}
/*.se3 {
    position: absolute;
    right: 50%;
    top: 86%;
    width: 13.15%;
}
.se3 img {
    bottom: 16%;
    position: absolute;
}*/
.setxt1{
    right: 44%;
    top: 52.7%;
}
.setxt2{
    right: 64%;
    top: 82.7%;
}

.se3 {
    bottom: 0;
    left: 0;
    margin: auto auto auto 38%;
    position: absolute;
    right: 0;
    top: 70.57%;
    width: 9%;
}
.se3 img {
    max-height: 83.6%;
}
.se4 {
    left: 65%;
    position: absolute;
    top: 85.94%;
    width: 16%;
}
.se5 {
    left: 18%;
    position: absolute;
    top: 25%;
    width: 34.5%;
}

.sp{width: 16.3%;top: 16.57%;left: 43%;margin: auto; left: 0px; right: 0px; bottom: 0px; position: absolute; }
.pad{width: 26%; top: 30%;left: 43%;margin: auto; left: 0px; right: 0px; bottom: 0px; position: absolute;}
.spimg1{max-height: 83.6%}

.spimg2 {
    height: 15.6%;
    position: absolute;
    right: 72%;
    top: 65%;
    z-index: -1;
}

/*P3*/

.te4 {
    position: absolute;
    right: -3%;
    top: 60%;
    width: 70%;
}

.te2{
    left: 35%;
    position: absolute;
    top: 24.92%;
    width: 22%;
}
.te3 {
    left: 44%;
    position: absolute;
    top: 57.45%;
    width: 39%;
}

.tetxt1 {
    left: 25%;
    top: 57.8%;
}

.tetxt2 {
    left: 25%;
    top: 80%;
}


.te1 {
    top: 0;
    max-height: 86%;
    position: absolute;
    right: 0;
    width: 100%;
}

/*P4*/
.fe1{width: 80%;;right:0;top:0;max-height: 86%;position: absolute;}

.fe2 {
    left: 30%;
    position: absolute;
    top: 40%;
    width: 50%;
}
.fe3 {
    left: 35%;
    position: absolute;
    top: 20.94%;
    width: 13%;
}
.fe4 {
    left: 20%;
    position: absolute;
    top: 65%;
    width: 24%;
}
.fe5{width: 10.34%;bottom:64%;left: 76.7%;position: absolute;}
.fetxt1 {
    left: 25%;
    top: 70%;
}

.fetxt2 {
    left: 60%;
    top: 80%;
}

/*P5*/
.fie1{width: 100%;;right:0;position: absolute;}

.fie2 {
    left: 50%;
    position: absolute;
    top: 65%;
    width: 27%;
}
.fie3 {
    left: 30%;
    position: absolute;
    top: 45%;
    width: 33%;
}
.fie4 {
    left: 25%;
    position: absolute;
    top: 24.93%;
    width: 16%;
}

.fie5 {
    position: absolute;
    right: -3%;
    top: 83.6%;
    width: 40%;
}
.fip{width: 23.3%;top: 21.3%;left: 38.4%;position: absolute;}

.fietxt1 {
    left: 25%;
    top: 50%;
}

.fietxt2 {
    left: 55%;
    top: 70%;
}

/*P6*/
.sie1 {
    bottom: 0;
    left: 0;
    width: 100%;position: absolute;
}
.sie2 {
    left: 60%;
    position: absolute;
    top: 21.48%;
    width: 33%;
}
.sie3 {
    left: 50%;
    position: absolute;
    top: 40%;
    width: 25%;
}
.sie4 {
    left: 36%;
    position: absolute;
    top: 48.1%;
    width: 22%;
}

.sie5 {
    left: 18.5%;
    position: absolute;
    top: 60%;
    width: 23%;
}

.sietxt1 {
    left: 25%;
    top: 70%;
}

.sietxt2 {
    left: 25%;
    top: 80%;
}

/*P7*/


.see1 {
    bottom: 0;
    left: -3.4%;
    position: absolute;
    width: 100%;
}


.see3 {
    position: absolute;
    right: -2%;
    top: 80%;
    width: 33%;
}

.see2 {
    left: 40%;
    position: absolute;
    top: 15%;
    width: 25%;
}
.see4 {
    left: 20%;
    position: absolute;
    top: 40%;
    width: 23%;
}


.see5 {
    left: 55%;
    position: absolute;
    top: 40%;
    width: 23%;
}



.seep {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 5%;
    width: 35.4%;
}



.seetxt1 {
    left: 25%;
    position: absolute;
    top: 60%;
}

.seetxt2 {
    left: 25%;
    top: 80%;
}




.